.roundContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
}

.colorPegsContainer {
    background-color: #444;
    padding: 14px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.colorPegs {
    display: flex;
    gap: 30px;
}

.colorPeg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222;
    cursor: pointer;
}

.feedbackPegsContainer {
    background-color: #444;
    padding: 9px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.feedbackPegs {
    display: grid;
    gap: 10px;
}

.feedbackPeg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #222;
}